@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables"
$arrows-offset: -15px

.carousel
  width: 100%
  position: relative

  ul
    transition: 500ms transform ease

  & li
    position: relative

  &__arrow
    border: 1px solid $gray-lighter
    outline: none
    width: 50%
    height: 40px
    background: #fff

    @media (min-width: $screen-sm-min)
      position: absolute
      top: 50%
      display: block
      width: 25px
      height: 25px
      margin-top: -10px
      border-radius: 13px
      padding: 0
      cursor: pointer
      color: white
      background: rgba(0,0,0,.3)
      transition: .3s linear background

      &:hover
        background: rgba(0,0,0,.6)

    &--left
      left: $arrows-offset

    &--right
      right: $arrows-offset