@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins"

%text-center-uppercase
  text-align: center
  text-transform: uppercase

.broker-item
  padding: 0
  margin: 0

  & img
    margin: 0
    border-bottom: 1px solid $gray-lighter
    width: 100%
    min-height: 201px
    height: auto

  &__name
    margin-top: 0
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  &__agent-count
    @extend %text-center-uppercase
    color: $gray-light

  &__head-office

    &__title
      @extend %text-center-uppercase
      font-weight: $headings-font-weight

    &__value
      @extend %text-center-uppercase
      color: $gray-light

  &__properies-info
    @include clearfix()
    margin-left: -9px
    margin-right: -9px
    margin-bottom: -9px

    &__item
      @include make-xs-column(4)
      @extend %text-center-uppercase
      border-top: 1px solid $gray-lighter
      border-left: 1px solid $gray-lighter
      padding: 5px 0
      font-size: $font-size-small - 2

      &:first-child
        border-left: 0
