@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins"

.broker-list
  @include clearfix()

  li
    padding: 0
    display: inline-block
    float: left

    @media (min-width: $screen-sm-min)
      padding: 0 15px

    a:hover
      text-decoration: none
